[Unit]
Description=MySQL 8 container (dev)
Wants=
After=

[Container]
Image=mysql:8.0
ContainerName=mysql
EnvironmentFile=%h/Dropbox/Work/containers.env
PublishPort=3306:3306
Volume=mysqldata:/var/lib/mysql

[Service]
Restart=on-failure
RestartSec=0
TimeoutStartSec=60

[Install]
WantedBy=default.target
