.DS_Store
**/config.autosave
tmux/tmux-resurrect
tmux/tmux-resurrect-auto
gitconfig_user
tmp
users/jeroenb/mutt/cache/bodies/**
users/jeroenb/mutt/cache/headers/**
users/jeroenb/config/karabiner/automatic_backups
users/jeroenb/config/weechat/logs/**
users/jeroenb/config/weechat/weechat.log
users/jeroenb/config/weechat/sec.conf
