.DS_Store
gitconfig_user
tmp
*.dump

**/config.autosave
**/config/configstore
**/config/coc
**/config/yarn
**/config/cache
**/config/local
**/config/git/gitk
**/config/htop/htoprc
**/config/op

**/packer_compiled.lua

**/node_modules

tmux/tmux-resurrect
tmux/tmux-resurrect-auto

users/jeroenb/config/0ad
users/jeroenb/config/1Password
users/jeroenb/config/Ardour8
users/jeroenb/config/BraveSoftware
users/jeroenb/config/Cardinal
users/jeroenb/config/Code - OSS/
users/jeroenb/config/Cypress
users/jeroenb/config/GIMP
users/jeroenb/config/Insomnia
users/jeroenb/config/JetBrains
users/jeroenb/config/LanguageTool
users/jeroenb/config/Logseq/**
users/jeroenb/config/Meltytech
users/jeroenb/config/Mousepad
users/jeroenb/config/MuseScore
users/jeroenb/config/Postman
users/jeroenb/config/QtProject.conf
users/jeroenb/config/REAPER
users/jeroenb/config/Raspberry Pi
users/jeroenb/config/Slack
users/jeroenb/config/SubDownloader
users/jeroenb/config/Thunar
users/jeroenb/config/VirtualBox
users/jeroenb/config/aerc/accounts.conf
users/jeroenb/config/alacritty/themes
users/jeroenb/config/ardour8
users/jeroenb/config/arkrc
users/jeroenb/config/audacity
users/jeroenb/config/autorandr
users/jeroenb/config/balena-etcher
users/jeroenb/config/balenaEtcher
users/jeroenb/config/btop/**
users/jeroenb/config/cef_user_data
users/jeroenb/config/chrome-remote-desktop
users/jeroenb/config/chromium
users/jeroenb/config/ckb-next/**
users/jeroenb/config/cmus
users/jeroenb/config/composer
users/jeroenb/config/conky
users/jeroenb/config/darktable
users/jeroenb/config/dconf/user
users/jeroenb/config/filezilla
users/jeroenb/config/fontforge
users/jeroenb/config/freeplane
users/jeroenb/config/ghb
users/jeroenb/config/ghostty
users/jeroenb/config/github-copilot
users/jeroenb/config/gitui
users/jeroenb/config/go
users/jeroenb/config/google-chrome*
users/jeroenb/config/gpick
users/jeroenb/config/gtk-2.0
users/jeroenb/config/gtk-2.0/gtkfilechooser.ini
users/jeroenb/config/gtk-3.0
users/jeroenb/config/guvcview2
users/jeroenb/config/htop
users/jeroenb/config/inkscape
users/jeroenb/config/jgit/
users/jeroenb/config/karabiner/automatic_backups
users/jeroenb/config/kconf_updaterc
users/jeroenb/config/kdeglobals
users/jeroenb/config/knfsshare
users/jeroenb/config/libfm/libfm.conf
users/jeroenb/config/libreoffice
users/jeroenb/config/llc.toaster.debase
users/jeroenb/config/lnav/**
users/jeroenb/config/logseq
users/jeroenb/config/lxqt/
users/jeroenb/config/menus
users/jeroenb/config/microsoft-edge
users/jeroenb/config/microsoft-edge-dev
users/jeroenb/config/mockoon
users/jeroenb/config/nemo
users/jeroenb/config/neofetch
users/jeroenb/config/nvim/plugin/packer_compiled.lua
users/jeroenb/config/nvm
users/jeroenb/config/obs-studio
users/jeroenb/config/obsidian
users/jeroenb/config/okularpartrc
users/jeroenb/config/okularrc
users/jeroenb/config/pavucontrol.ini
users/jeroenb/config/pcmanfm
users/jeroenb/config/pnpm
users/jeroenb/config/poedit
users/jeroenb/config/spotify
users/jeroenb/config/systemd
users/jeroenb/config/teamviewer/**
users/jeroenb/config/tenacity
users/jeroenb/config/timer-for-harvest.json
users/jeroenb/config/transmission
users/jeroenb/config/unity3d
users/jeroenb/config/vivaldi*
users/jeroenb/config/vlc
users/jeroenb/config/weechat/logs/**
users/jeroenb/config/weechat/sec.conf
users/jeroenb/config/weechat/weechat.log
users/jeroenb/config/whoozle.github.io
users/jeroenb/config/xarchiver
users/jeroenb/config/xdg-dekstop-portal
users/jeroenb/config/xfce4
users/jeroenb/config/xfce4/**
users/jeroenb/config/zoom**
users/jeroenb/config/zsh/.zcompcache
users/jeroenb/config/zsh/.zcompdump
users/jeroenb/config/zsh/.zsh_history
users/jeroenb/config/zsh/pure
users/jeroenb/mutt/cache/bodies/**
users/jeroenb/mutt/cache/headers/**

users/pieterm/config/psysh/**
users/pieterm/config/wireshark/**
users/pieterm/config/lvim/**
users/pieterm/config/com.corsair/**
users/pieterm/config/memos.json
users/pieterm/config/containers/containers.conf
users/pieterm/config/lnav/*history
users/pieterm/config/lnav/*sample
users/pieterm/config/containers/podman/machine*
users/pieterm/config/temporalio
users/pieterm/config/bpytop
users/pieterm/config/github-copilot
.aider*
