.DS_Store
gitconfig_user
tmp

**/config.autosave
**/config/configstore
**/config/coc
**/config/yarn

**/node_modules

tmux/tmux-resurrect
tmux/tmux-resurrect-auto

users/jeroenb/mutt/cache/bodies/**
users/jeroenb/mutt/cache/headers/**
users/jeroenb/config/karabiner/automatic_backups
users/jeroenb/config/weechat/logs/**
users/jeroenb/config/weechat/weechat.log
users/jeroenb/config/weechat/sec.conf

users/pieterm/config/psysh/**
